# This file is part of Minz.
# Copyright 2020-2026 Marien Fressinaud
# SPDX-License-Identifier: AGPL-3.0-or-later

name: minz

services:
    php:
        build: .
        volumes:
            - ../..:/var/www/html:z
        user: $USER
        links:
            - database
        environment:
            - DB_DSN
            - DB_USERNAME
            - DB_PASSWORD

    database:
        image: postgres:13-alpine
        environment:
            POSTGRES_DB: minz_test
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
